@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Get_Config()</h1>
    <p class="lead">Get_Config() is a simple utility for managing and serving configuration values over the internet.</p>
    <hr class="my-4">
    <p>To begin using it, simply create a new project and add the desired values.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Create new project</a>
    </p>
</div>
