@model GetConfig.Db.ViewModels.ConfigViewModel

@{
    ViewData["Title"] = "ConfigValues";
}

<style>
    main {
        margin-top: 0;
    }
</style>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#config">Config</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#usage">Usage</a>
    </li>
    @if (((Model.AccessRights & GetConfig.Db.Flags.UserAccessRights.ProjectLevel) == GetConfig.Db.Flags.UserAccessRights.ProjectLevel))
    {
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#settings">Project settings</a>
        </li>
    }
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="config">
        <partial name="./ConfigValuesPartial" model="Model" />
    </div>
    <div class="tab-pane fade" id="usage">
        Usage
    </div>
    @if (((Model.AccessRights & GetConfig.Db.Flags.UserAccessRights.ProjectLevel) == GetConfig.Db.Flags.UserAccessRights.ProjectLevel))
    {
        <div class="tab-pane fade" id="settings">
            <partial name="./ProjectSettingsPartial" />
        </div>
    }
</div>

<partial name="./ModalsPartial" />