<h1>@ViewBag.ProjectName settings:</h1>
<div class="d-flex flex-row">
    <div class="col-form-label settings-label">
        Project color:
    </div>
    <div class="setting-form">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="projectColor" id="projectColor1" value="blue" autocomplete="off" checked=""> &nbsp;&nbsp;&nbsp;&nbsp;
            </label>
            <label class="btn btn-success">
                <input type="radio" name="projectColor" id="projectColor2" value="green" autocomplete="off"> &nbsp;&nbsp;&nbsp;&nbsp;
            </label>
            <label class="btn btn-danger">
                <input type="radio" name="projectColor" id="projectColor3" value="red" autocomplete="off"> &nbsp;&nbsp;&nbsp;&nbsp;
            </label>
            <label class="btn btn-warning">
                <input type="radio" name="projectColor" id="projectColor4" value="yellow" autocomplete="off"> &nbsp;&nbsp;&nbsp;&nbsp;
            </label>
            <label class="btn btn-info">
                <input type="radio" name="projectColor" id="projectColor5" value="purple" autocomplete="off"> &nbsp;&nbsp;&nbsp;&nbsp;
            </label>
        </div>
    </div>
</div>